body {
  margin: 0;
  font-family: sans-serif;
  background-color: #536039;
  color: #666600;
}

li {
  line-height: 1.5em;
  width: 640px;
}

li:hover {
  background-color: #f9ff99;
  border-bottom: #999900 1px solid;
}

span {
  padding-left: 0.2em;
  padding-right: 0.5em;
  float: left;
  width: 240px;
}

span:hover {
  padding-left: 0.5em;
  cursor: pointer;
}

span:hover::after {
  float: right;
  content: 'increment';
  font-size: 0.8em;
  color: #99aaff;
}

a {
  font-size: 0.8em;
  color: #99aaff;
}

.right {
  float: right;
}

input {
  background-color: #f9ff99;
  color: inherit;
}

#root {
  background-color: #ddff99;
  padding: 2em;
}

.header, .footer {
  height: 200px;
  width: 100%;
  background-color: #006039;
}

.pagination {
  padding-bottom: 1em;
}

.pagination a {
  margin-left: 2em;
}
